#walrus-showing, #text-showing, #text-hidden {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

#first-clickable, #second-clickable, #clickable-walrus {
  cursor: pointer;
  color: #0088cc;
}

#first-clickable:hover, #second-clickable:hover, #clickable-walrus:hover {
  text-decoration: underline;
}

.purple-background {
  background: purple;
}

.btn-secondary {
  background: purple;
}
.white-background {
  background: white;
}

.btn-light {
  background: white;
}
